body {
    font-family: Arial, sans-serif;
    background-color: #b2c6f8;
  }
  
  .container {
    max-width: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: #c4eaff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(30, 0, 255, 0.306);
  }
  
  h1 {
    text-align: center;
    color: #16125c;
  }
  
  label, input {
    display: block;
    margin-bottom: 10px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    border: 1px solid #6495ED;
    border-radius: 4px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #3c36b9;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #6495ED;
  }
  
  #result {
    color: rgb(255, 0, 0);
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
  }
  